            *{
				margin: 0;
				padding: 0;
				
			}
			.out{
				width: 500px;
				height: 300px;
				position: relative;
				margin: 100px auto;
				background: gray;
				overflow: hidden;
			}
			.pic{
				width: 2500px;
				height: 300px;
				position: absolute;
				top:0;
				left:0;
			}
			.pic li{
				width: 500px;
				height: 300px;
			}

		  .pic img{
				
				width: 500px;
				height: 300px; 
			} 
			.btn{
				position: absolute;
				left:200px ;
				top: 250px;
			}
			.btn li{
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: white;
				list-style: none;
				float: left;
			}
			.btn .ac{
				background: red;
			}
			.left{
				width: 50px;
				height: 50px;
				background: gray;
				opacity: 0.8;
				position: absolute;
				top: 110px;
				font-size: 30px;
				line-height: 50px;
			}
			.right{
				width: 50px;
				height: 50px;
				background: gray;
				opacity: 0.8;
				position: absolute;
				top: 110px;
				left: 450px;
				font-size: 30px;
				line-height: 50px;
			}